<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TidyFi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="textSmall">TIDYFI (v0.1)</div>
      <div class="textBig">Keep It Tidy</div>
      <div class="textMid">
        Effortlessly Sort, Organize, and Clean Your Files with a Single Click
      </div>
      <form method="POST" enctype="multipart/form-data">
        <div class="form">
          <input
            type="file"
            id="file"
            name="file"
            multiple
          />
          <button type="submit" class="button">Upload and Organize —</button>
        </div>
      </form>
      <p class="message">{{ message }}</p>
    </div>
  </body>
</html>
